
  <nav>
    <div class="nav-wrapper ">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <div class="row valign-wrapper">
        <ul class="hide-on-med-and-down row col s12 center-align  ">
          <li class="col s4 "><a class="list-menu"  [routerLink]="['/oferta-educativa']">Oferta Educativa</a></li>
          <li class="col s4"><a class="list-menu" href="badges.html">Inscribete</a></li>
          <li class="col s4"><a class="list-menu" [routerLink]="['/conocenos']">Conocenos</a></li>
        </ul>
      </div>
      <ul class="side-nav" id="mobile-demo">
        <li> <a [routerLink]="['/oferta-educativa']">Oferta Educativa</a></li>
        <li> <a [routerLink]="['/conocenos']">Conocenos</a></li>
      </ul>
    </div>
</nav>
