   <ul id="slide-out" class="side-nav">
      <li><div class="userView">
      <div class="background"> 
        <!-- <img id="" src=""> -->
      </div>
      <a href="#!user"><img class="circle" src="assets/img/fotoPerfil.jpg"></a>
      <a [routerLink]="['inicio-alumno']">{{nameUser}}</a> 
     </div></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Mis materias<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
                <li *ngFor="let materia of materias" class="right-align">
                	<a href="#!">{{materia}}</a>
          		</li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li><div class="divider"></div></li>
      <li><a href="">Explorar Materias</a></li>
      <li><div class="divider"></div></li>
      <li><a href="">Articulos</a></li>
      <li><div class="divider"></div></li>
      <li><a href="">Proyectos</a></li>

    </ul>

    <a href="#" data-activates="slide-out" class="button-collapse-sideNav"><i class="material-icons">menu</i></a>