<app-side-nav></app-side-nav>

<!--CARD-->
<div class="micontainer">
  <div class="row" *ngIf="displayMateriaDetalle==false; else showDetalle" >
      <div class="col s12">
        <h4>Cursos disponibles para tu carrera</h4>
      </div>
      <div class="card-container col s12 m5" *ngFor="let curso of this._cs.cursos | async">
          <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                  <span class="card-title">{{curso.nombre}}</span>
                  <p>{{curso.descripcion}}</p>
                  <!--<p>Instructores: {{curso.instructores}}</p>-->
              </div>
              <div class="card-action">
                <div class="row no-mb">
                  <div class="col s12 right-align">
                    <a class="pointer" (click)="verMateria(curso)">Ver mas..</a>
                  </div>
                </div>

              </div>
          </div>
      </div>
  </div>
</div>

<!--DETALLE DE MATERIA-->
<ng-template #showDetalle>

    <div class="micontainer">
        <div class="row">
            <div class="col s12 menu-materia-container center  light-primary-color">
              <div class="row icon-materia">
                <div class="col s1 ">
                  <a class="pointer" (click)="regresar()"><i class="material-icons">arrow_back</i></a>
                </div>

                <div class="col m1 s1 offset-s6 offset-m9">
                  Registrate
                </div>
                <div class="col m1 s1 push-s2 ">
                  <a class="pointer" (click)="registrarme()"><i class="material-icons">group_add</i></a>
                </div>
              </div>
                <p class="flow-text">{{cursoToDisplay.nombre}}</p>
            </div>
            <div class="nav-content col s12 center dark-primary-color">
                <ul class="tabs tabs-transparent">
                    <li class="tab pointer"><a class="item-menu" (click)="showDescripcion()">Descripción</a></li>
                    <li class="tab pointer"><a (click)="showObjetivo()">Objetivo</a></li>
                    <li class="tab pointer"><a (click)="showModulos()" >Modulos</a></li>
                    <li class="tab pointer"><a (click)="showInstructor()">Instructor</a></li>
                    <li class="tab pointer"><a (click)="showCalificaciones()">Calificaciones</a></li>
                </ul>
            </div>
        </div>

        <div id="descripcion" class="col s12" *ngIf="displayDescripcion==true">
          <p class="flow-text materia-content">{{cursoToDisplay.descripcion}}</p>

        </div>
        <div id="objetivo" class="col s12" *ngIf="displayObjetivo==true">
            <p class="flow-text materia-content">{{cursoToDisplay.objetivo}}</p>
        </div>
        <div id="modulos" class="col s12" *ngIf="displayModulos==true">
          <ul class="collapsible" materialize="collapsible" data-collapsible="accordion">

            <li *ngFor="let modulo of cursoToDisplay.modulos; let i=index;" >
              <div class="collapsible-header"><span class="badge"></span>{{i}}.1- {{modulo}}</div>
              <div class="collapsible-body"><p>Objetivo: el objetivo del modulo sera escrito en esta parte</p></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">subdirectory_arrow_right</i> </div>
              <div class="collapsible-body">
              </div>
            </li>

          </ul>
        </div>
        <div id="instructor" class="col s12 materia-content" *ngIf="displayInstructor==true">
            <div class="row">
            <div class="col s12 m3 center">
                <img class="responsive-img circle" src="/assets/img/user.png" alt="foto del instructor">
            </div>
            <div class="col s12 m8  row ">
                <!--hacer una consulta al perfil del <maestro></maestro>-->
                <h4 class="col s12">{{cursoToDisplay.instructores}}</h4>
                <h5 class="col s12">Ing. en Sistemas Computacionales</h5>
                <h5 class="col s12 ">Biografia:</h5>
                <h6 class="col s12 ">
                  Aun no se ha guardado una biografia.
                </h6>
            </div>
            </div>
        </div>
        <div id="calificacion" class="col s12" *ngIf="displayCalificaciones==true">

          <ul class="collapsible" materialize="collapsible" data-collapsible="accordion">

            <li *ngFor="let modulo of cursoToDisplay.modulos; let i=index;" >
              <div class="collapsible-header"><span class="badge"></span>{{i}}.1- {{modulo}}</div>
              <div class="collapsible-body"><p>Objetivo: el objetivo del modulo sera escrito en esta parte</p></div>
            </li>
          </ul>

        </div>
    </div>
</ng-template>
