
.menu-materia-container{
  height: 25vh;
  margin: 0 10vw;
  margin-top: 10vh;
}

.container-video{
  width: 100%;
}

.micontainer{
  margin: 0 4vw;
  margin-bottom: 10vh;
}


.materia-content{
  padding: .5em 2em;
  border-left: 5px #009688 solid;
}

.icon-materia{
  margin-top: .5em;
}
