.header-main{
  background-color: #eee;
  height: 15vh;
  width: 100%;
}

.titulo-container{
  margin-top: 1vh;
}

.titulo-encabezado{
  font-size: 1.5rem;
  margin:0 0 .3em 0;
  padding: 0;
  text-align: center;
}

.it-titulo{
  margin-left: 30em;
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {


 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  .header-main{
    height: 20vh;
  }

  .titulo-container{
    margin-top: 5vh;
  }

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  .titulo-encabezado{
    font-size: 1.6rem;
    text-align: left;
  }

 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

  .titulo-encabezado{
    font-size: 2rem;
    text-align: left;
  }


 }
