.container-center{
    margin-top: 5vh;
}


.card-title{
    padding-bottom: 3vh;
}


.correcto{
    color: green;
    font-size: 3em;
}
.wrong{
  padding: 1em 0 1em 1.5em;
    color: #792013;
    background-color: #ff9090;
}

.icon-dialog{
  color: #792013;
  margin-right: 1em;
}

.alert-container{
  margin-top: 1em;
}
