<ul class="collapsible" materialize="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><span class="badge">2 Lecciones</span>1.- Nombre del Modulo</div>
    <div class="collapsible-body"><p>Objetivo: el objetivo del modulo sera escrito en esta parte</p></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">subdirectory_arrow_right</i>1.1- Nombre del subtema</div>
    <div class="collapsible-body">
      <video  class="container-video" controls>
        <source src="/assets/video/restaurant.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">subdirectory_arrow_right</i>1.2- Nombre del subtema</div>
    <div class="collapsible-body">Lectura</div>
  </li>
</ul>
