<div class="micontainer">
  <div class="row">
    <div class="col s12 menu-materia-container center  purple lighten-4">
      <h3>Titulo de la materia</h3>
    </div>
    <div class="nav-content col s12 center tabs-materia-container">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#descripcion">Descripción</a></li>
        <li class="tab"><a href="#objetivo">Objetivo</a></li>
        <li class="tab"><a class="active" href="#modulos">Modulos</a></li>
        <li class="tab"><a href="#instructor">Instructor</a></li>
        <li class="tab"><a href="#calificacion">Calificaciones</a></li>
      </ul>
    </div>
  </div>

  <div id="descripcion" class="col s12">
    Aqui va la descripcion  de la materia
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
     qui officia deserunt mollit anim id est laborum.
  </div>
  <div id="objetivo" class="col s12">
    Objetivo de la materia
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
    qui officia deserunt mollit anim id est laborum.
  </div>
  <div id="modulos" class="col s12">
    <app-modulo></app-modulo>
  </div>
  <div id="instructor" class="col s12">
    <div class="row">
      <div class="col s2">
        <img class=" responsive-img circle" src="/assets/img/fotoPerfil1.PNG" alt="foto del instructor">
      </div>
      <div class="col s10 row">
          <h4 class="col s12">Nombre del Instructor</h4>
          <h5 class="col s12">Titulo/Carrera del instructor</h5>
          <h5 class="col s12 center-align">Biografia</h5>
          <h5 class="col s12 center left-align">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </h5>
      </div>
    </div>
  </div>
  <div id="calificacion" class="col s12">
   <app-modulo></app-modulo>
  </div>



</div>
