.texto-article{
  border-radius: 2em;
}

.img-button{
  padding: 3em;
}

.article-container{
  margin-top: 10vh;
}

.imagen-home-container{
 height: 100%;
 margin:0;
 padding-bottom: 1em;

}

.contenido-home{
  margin:0;
}

.destacados-home{
  margin-top: 10vh;
}

.text-cardj{
  font-size: 16pt;
  margin:1em 0;

}

.titulo-cardj{
margin-top: 1em;
}
