<app-navbar-home></app-navbar-home>
<main>

<div class="home-container">
<div class="container">
<div class="z-depth-2 row destacados-home">
  <div class="imagen-home-container center-align col s12 l4 blue-grey lighten-1 row">
    <div class="col s12">
      <img class="responsive-img img-cardj" src="/assets/img/Articulos-Informativos.png" alt="">
    </div>
  </div>
  <div class="col s12 l8 row no-mb">
    <div class="col s12 row valign-wrapper no-mb  titulo-card">
      <h4 class="col s8 no-mbj">Sigue Aprendiendo</h4>
      <i class="material-icons  col s2">share</i>
      <a materialize="tooltip" class="col s2 tooltiped pointer"
        data-position="bottom"
        data-delay="50"
        data-tooltip="Ver articulos"><i class="material-icons col s1">open_in_new</i>
      </a>
    </div>
    <div class="col s12 ">
      <p class="text-cardj">La plataforma de educación en linea del instituto tecnológico de cuautla busca brindar a los alumnos
      un ambiente de trabajo en el cual pueda desarrollar y reforzar sus conocimientos, mira los articulos publicados por
      nuestros alumnos.
      </p>
    </div>
  </div>
</div>


</div>

</div>
</main>
<footer>
  <app-dudas></app-dudas>
<footer>
