<app-navbar-home></app-navbar-home>
<main>

<div class="home-container">
<div class="container">
<div class="z-depth-2 row destacados-home">
  <div class="imagen-home-container center-align col s12 l4 blue-grey lighten-1">
    <img src="/assets/img/Articulos-Informativos.png" alt="">
  </div>
  <div class="col s12 l8 row text-card">
    <div class="col s12 row valign-wrapper">
      <h4 class="col s8">Sigue Aprendiendo</h4>
      <i class="material-icons  col s1">share</i>
      <i class="material-icons  col s1">open_in_new</i>
    </div>
    <div class="col s12 ">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
       Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
       dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
       non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
</div>


</div>

</div>
</main>
<footer>
  <app-dudas></app-dudas>
<footer>
