<!--<app-side-nav></app-side-nav>-->

<div class="micontainer">
	<div class=row>
		<div class="col s1">

		</div>
		<div class="col s11">

			<!-- VISTA GENERAL DE MATERIAS -->
			<div class="row">
				<ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
					<li>
					  <div class="collapsible-header">
					  	<div class="datos"></div>
					  	<div class="titulos">Mis Materias</div>
					  	<i class="material-icons">keyboard_arrow_down</i>
							<a [routerLink]="['/crear-curso']"><i class="material-icons nuevo">add</i></a>
					  </div>
					  <div class="collapsible-body">
					  	<ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
						    <li *ngFor="let materia of materias">
						      <div class="collapsible-header">
						      	<div></div>
						      	<i class="material-icons">subdirectory_arrow_right</i>
						      	<a class="waves-effect waves-light ">{{materia.nombreMateria}}</a>
						      	<span class="new badge">{{materia.nuevos}}</span>
						      </div>
						      <div class="collapsible-body">
						      	<div class="datos-materia">
						      		<p>Progreso</p>
									<div class="progress">
										<div class="determinate" [style.width]=materia.progreso></div>
									</div>
									<p>{{materia.progreso}}</p>
						        </div>
						      	<div class="datos-materia">
						      		<p>Calificación</p>
									<div class="progress">
										<div class="determinate" [style.width]=materia.calificacion></div>
									</div>
									<p>{{materia.calificacion}}</p>
						      	</div>
						      </div>
						    </li>
					  	</ul>
					  </div>
					</li>
				</ul>
			</div>

			<!-- VISTA GENERAL DE ARTICULOS -->
			<!--<div class="row">
				<ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
					<li>
					  <div class="collapsible-header">
					  	<div class="titulos">Mis Articulos</div>
					  	<i class="material-icons">keyboard_arrow_down</i>
					  	<a [routerLink]="['/home']"><i class="material-icons nuevo">add</i></a>
					  </div>
					  <div class="collapsible-body">
					  	<ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion">
						    <li *ngFor="let articulo of articulos">
								<div class="collapsible-header header-elementos">
									<div class="datos">
										<i class="material-icons">subdirectory_arrow_right</i>
										<a class="waves-effect waves-light ">{{articulo.nombreArticulo}}</a>
									</div>
									<div class="informacion">
										<a href="">{{articulo.comentarios}} Comentarios</a>
										<i class="material-icons">comment</i>
										<a href="">{{articulo.estrellas}} Estrellas</a>
										<i class="material-icons">star_rate</i>
									</div>
								</div>
								<div class="collapsible-body">
									<div class="datos-articulo">
										<i class="material-icons">mode_edit</i>
										<a href="">Editar</a>
									</div>
									<div class="datos-articulo">
										<i class="material-icons">share</i>
										<a href="">Compartir</a>
									</div>
								</div>
						    </li>
					  	</ul>
					  </div>
					</li>
				</ul>
			</div>-->

			<!-- VISTA GENERAL DE PROYECTOS -->
			<!--<div class="row">
				<ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
					<li>
					  <div class="collapsible-header">
					  	<div class="titulos">Mis Proyectos</div>
					  	<i class="material-icons">keyboard_arrow_down</i>
					  	<a [routerLink]="['/home']"><i class="material-icons nuevo">add</i></a>

					  </div>
					  <div class="collapsible-body">
					  	<ul materialize="collapsible" xclass="collapsible popout" data-collapsible="accordion">
						    <li *ngFor="let proyecto of proyectos">
								<div class="collapsible-header header-elementos">
									<div class="datos">
										<i class="material-icons">subdirectory_arrow_right</i>
										<a class="waves-effect waves-light ">{{proyecto.nombreProyecto}}</a>
									</div>
									<div class="informacion">
										<a href="">{{proyecto.comentarios}} Comentarios</a>
										<i class="material-icons">comment</i>
										<a href="">{{proyecto.estrellas}} Estrellas</a>
										<i class="material-icons">star_rate</i>
									</div>
								</div>
								<div class="collapsible-body">
									<div class="datos-articulo">
										<i class="material-icons">mode_edit</i>
										<a href="">Editar</a>
									</div>
									<div class="datos-articulo">
										<i class="material-icons">share</i>
										<a href="">Compartir</a>
									</div>
								</div>
						    </li>
					  	</ul>
					  </div>
					</li>
				</ul>
			</div>-->
		</div>
	</div>
</div>
