<div>
	
</div>
	<div class="row">
		<!-- Barra de navegacion -->
		<app-side-nav class="col s1"></app-side-nav>

		<div class="col s11">
			<ul class="collapsible" data-collapsible="accordion">
			<li>
			  <div class="collapsible-header">	
				<i class="material-icons">filter_drama</i>
				materias
				<i class="material-icons">keyboard_arrow_down</i>
			  </div>
			  <div class="collapsible-body">
			  	<span>Lorem ipsum dolor sit amet.</span>
			  </div>
			</li>
			</ul>
		</div>	
	</div>

	


