<div class="micontainer">


  <h2 class="titulo-article">Este es el titulo del articulo ¿Esta bien?</h2>
  <div class="top-article row">
    <div class="row  col s12 l9 no-padding">
      <div class="img-article col s10 l11">

      </div>
      <div class="social-container col s2 l1 row center">
        <i class="material-icons col s12 icon-social">share</i>
        <span class="col s12">12</span>
        <i class="material-icons col s12 icon-social">favorite_border</i>
        <span class="col s12">5</span>
        <i class="material-icons col s12 icon-social">star_border</i>
        <span class="col s12">33</span>
      </div>
    </div>
    <aside class="row col l3 hide-on-med-and-down center relacionados-container">
      <h6 class="col l12">Articulos Relacionados</h6>
      <div class="col l12"> <img class="img-responsive" src="/assets/img/logo-ItCuautla.png" alt=""></div>
      <p> Titulo del articulo</p>
    </aside>

  </div>
</div>
