<div class="row dudas-container">
    <div class=" fixed-action-btn">
     <a
        href="#modalDuda"
        materialize="tooltip"
        class="btn-floating btn-large waves-effect waves-light red tooltipped"
        data-position="left"
        data-delay="50"
        data-tooltip="¿Quieres preguntarnos algo?"
        >
        <i class="material-icons">
          help
        </i>
      </a>
    </div>
</div>



<div materialize="modal" id="modalDuda" class="modal modal-fixed-footer">
<form  [formGroup]="formDuda" (ngSubmit)="enviarDuda()" novalidate="novalidate">
  <div class="modal-content">
    <h4>Envianos tu duda</h4>
    <p>No necesitas registrate para hacerlo!
      Cuando hayas terminado de escribir verifica que hayas escrito bien tu correo electrónico
      ya que te responderemos por el mismo</p>
    <div class="row">
      <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="correo" type="email" formControlName="correo">
          <label for="correo">Correo electónico</label>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">mode_edit</i>
        <textarea id="icon_prefix2" class="materialize-textarea" formControlName="duda"></textarea>
        <label for="icon_prefix2">¿Cual es tu duda?</label>
      </div>

</div>
  </div>
  <div class="modal-footer">
    <button
      class="modal-close waves-effect waves-effect waves-green btn-flat"
    >
        <i class="material-icons right">send</i>Ok
    </button>
  </div>
  </form>
</div>
