  <!--INFORMACION GENERAL DEL CURSO-->
  <button class="btn" routerLink="/inicio-maestro">Regresar</button>
  <div class="contenedor-formulario" *ngIf="!showModulos">
    <form (ngSubmit)="guardar(); forma.resetForm()" #forma="ngForm" >
      <div class="input-field">
          <input [(ngModel)]="curso.nombre" name="nombre" id="nombreCurso" type="text" class="validate">
          <label for="nombreCurso">Nombre del curso:</label>
        </div>
        <div class="input-field">
          <textarea [(ngModel)]="curso.objetivo" name="objetivo" id="objCurso" class="materialize-textarea"></textarea>
          <label for="objCurso">Objetivo del curso</label>
        </div>
        <div class="input-field">
          <textarea [(ngModel)]="curso.descripcion" name="descripcion" id="dscCurso" class="materialize-textarea"></textarea>
          <label for="dscCurso">Descripcion del curso</label>
        </div>

        <div class="input-field">
          <select [(ngModel)]="curso.carrera" name="carrera" id="crCurso" class="validate" materialize="material_select"  [materializeParams]="[{belowOrigin: true}]">
            <option value="" disabled selected>Carrera a la que pertenece</option>
            <option value="SC">Sistemas Computacionales</option>
            <option value="E">electrónica</option>
            <option value="M">Mecatrónica</option>
            <option value="GE">Gestión Empresarial</option>
            <option value="C">Contaduria</option>
          </select>
          <label for="crCurso">Carrera</label>
        </div>

        <div class="input-field">
            <div class="chips modulos" materialize="material_chip">
              Tag
              <i class="close material-icons">close</i>
            </div>
            <label>Agrega modulos</label>
        </div>
        <div class="input-field">
          <button type="submit" class="btn waves-effect"> Guardar</button>
        </div>
    </form>
  </div>

<!-- ------------------------------------------- -------------------     ------ -->
<!--SUBIR ARCHIVOS A LOS MODULOS-->
<div class="micontainer" *ngIf="showModulos">
    <ul id="dropdown2" class="dropdown-content" >
      <li *ngFor="let modulo of curso.modulos"><a (click)="seleccionarModulo(modulo)">{{modulo}}</a></li>
      
    </ul>
    <a class="btn dropdown-button" data-activates="dropdown2" materialize="dropdown">Modulos<i class="mdi-navigation-arrow-drop-down right"></i></a>
   
    <form >
      <h5>Modulo: {{moduloActual}}</h5>
        <div class="row">
          <div class="input-field col s12 m9">
            <textarea id="objetivoModulo" class="materialize-textarea"></textarea>
            <label for="objetivoModulo">Objetivo del modulo</label>
          </div>
          <div class="input-field col s12">
            <div class="row ">
              <h5 class="col s2 left-align subtemas">Lecciones</h5>
              <a class="pointer col s1 tooltipped"
                data-position="bottom"
                data-delay="50"
                data-tooltip="Añadir subtema">
                <i class="material-icons">exposure_plus_1</i></a>
            </div>
          </div>

          <!--INPUT DEL NOMBRE DEL VIDEO-->
          <div class="input-field col s12 m6">
            <input class="validate" id="titulo"  [(ngModel)]="tituloVideo" name="tituloVideo">
            <label for="titulo">Titulo de la leccion</label>
          </div>

            <!--INPUT PARA SUBIR LOS ARCHIVOS-->
            <div class="col s4 row ">
              <div class="file-field input-field">
                <div class="btn">
                  <span>Seleccionar video</span>
                  <input type="file" (change)="onChangeVideos($event)">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
                <p>
                  subiendo: {{this._cursosServices.estadoSubida}}
                <p>
              </div>
              <button class="btn" (click)="subirArchivo()">Subir archivo</button>
              <!--<div class="col s3">
              <a class="pointer tooltipped"
                data-position="bottom"
                data-delay="50"
                data-tooltip="Subir lección">
                  <i class="material-icons">chrome_reader_mode</i>
              </a>
              </div>
              <div class="col s3">
              <a class="pointer tooltipped"
                data-position="bottom"
                data-delay="50"
                data-tooltip="Subir Actividad">
                  <i class="material-icons">event_note</i>
              </a>
              </div>-->
            </div>
            <!--LISTADO DE LO QUE HA SUBIDO-->
            <div class="col s8">
              <ul class="collection">
                <li class="collection-item dismissable">
                  <div class="valign-wrapper">
                    <i class="material-icons icon-collection">play_circle_outline</i>
                    <span>Leccion 1.mp4</span>
                  </div>
                </li>
                <li class="collection-item dismissable">
                  <div class="valign-wrapper">
                    <i class="material-icons icon-collection">picture_as_pdf</i>
                    <span>Leccion 2.pdf</span>
                  </div>
                </li>
                <li class="collection-item dismissable">
                  <div class="valign-wrapper">
                    <i class="material-icons icon-collection">picture_as_pdf</i>
                    <span>Actividad 1.pdf</span>
                  </div>
                </li>
              </ul>
            </div>
        </div>

      </form>

</div>
