  <!--INFORMACION GENERAL DEL CURSO-->
<div class="micontainer">
    <a materialize="tooltip" class="pointer tooltipped"
    data-position="right"
    data-delay="50"
    data-tooltip="Regresar"
    routerLink="/inicio-maestro" ><i class="material-icons">arrow_back</i></a>

  <div class="contenedor-formulario" *ngIf="!showModulos">
    <form (ngSubmit)="guardar(); forma.resetForm()" #forma="ngForm" >
      <div class="input-field">
          <input [(ngModel)]="curso.nombre" name="nombre" id="nombreCurso" type="text" class="validate">
          <label for="nombreCurso">Nombre del curso:</label>
        </div>
        <div class="input-field">
          <textarea [(ngModel)]="curso.objetivo" name="objetivo" id="objCurso" class="materialize-textarea"></textarea>
          <label for="objCurso">Objetivo del curso</label>
        </div>
        <div class="input-field">
          <textarea [(ngModel)]="curso.descripcion" name="descripcion" id="dscCurso" class="materialize-textarea"></textarea>
          <label for="dscCurso">Descripcion del curso</label>
        </div>

        <div class="input-field">
          <select [(ngModel)]="curso.carrera" name="carrera" id="crCurso" class="validate" materialize="material_select"  [materializeParams]="[{belowOrigin: true}]">
            <option value="" disabled selected>Carrera a la que pertenece</option>
            <option value="SC">Sistemas Computacionales</option>
            <option value="E">electrónica</option>
            <option value="M">Mecatrónica</option>
            <option value="GE">Gestión Empresarial</option>
            <option value="C">Contaduria</option>
          </select>
          <label for="crCurso">Carrera</label>
        </div>

        <div class="input-field">
            <div class="chips modulos" materialize="material_chip">
              Tag
              <i class="close material-icons">close</i>
            </div>
            <label>Agrega modulos</label>
        </div>
        <div class="input-field">
          <button type="submit" class="btn waves-effect "><i class="material-icons left">save</i> Guardar</button>
        </div>
    </form>
  </div>


<!-- ------------------------------------------- -------------------     ------ -->
<!--SUBIR ARCHIVOS A LOS MODULOS-->
<div  *ngIf="showModulos">
    <ul id="dropdown2" class="dropdown-content" >
      <li *ngFor="let modulo of curso.modulos"><a (click)="seleccionarModulo(modulo)">{{modulo}}</a></li>

    </ul>
    <a class="btn dropdown-button m-bt" data-activates="dropdown2" materialize="dropdown">Modulos<i class="mdi-navigation-arrow-drop-down right"></i></a>

    <form >
      <h5>Modulo: {{moduloActual}}</h5>
        <div class="row">
 
          <div class="input-field col s12">
            <div class="row ">
              <h5 class="col s2 left-align subtemas">Lecciones</h5>
            </div>
          </div>

          <!--INPUT DEL NOMBRE DEL VIDEO-->
          <div class="input-field col s12 l6">
            <input class="validate" id="titulo"  [(ngModel)]="tituloVideo" name="tituloVideo">
            <label for="titulo">Titulo de la leccion</label>
          </div>

            <!--INPUT PARA SUBIR LOS ARCHIVOS-->
            <div class="col s12 l5  row ">
              <div class="file-field input-field">
                <div class="btn">
                  <span>Seleccionar video</span>
                  <input type="file" (change)="onChangeVideos($event)">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
                <p>
                  progreso: {{this._cursosServices.estadoSubida}}
                <p>
              </div>
              <button class="btn" (click)="subirArchivo()">Subir archivo</button>
            </div>
        </div>
      </form>
</div>
      <!--<ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
					<li>
					  <div class="collapsible-header">
					  	<div class="titulos">Lecciones</div>
					  </div>
					  <div class="collapsible-body">
              
					  	<ul materialize="collapsible" class="collapsible popout" data-collapsible="accordion" *ngFor="let video of videosSubidos">
						    <li>
						      <div class="collapsible-header">
						      	nombre del video
						      </div>
						      <div class="collapsible-body">
                    {{video.urlVideo}}
                     <video width="320" height="240" autoplay>
                      <source src="" type="video/mp4">
                      <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                    </video> 
						      </div>
						    </li>
					  	</ul>

					  </div>
					</li>
				</ul>-->
</div>
