.contenedor-formulario{
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 5vh;
}

#nombreCurso{
	max-width: 50vw;
}


.subtemas{
	margin:0;
}


.icon-collection{
	margin-right: 1rem;
}


.micontainer{
	margin: 6vh;
}
