.login-container{
  height: 12vh;
}

.encabezado-rol{
  margin-left: 2em;
}

.wrong{
  padding: 1em 0 1em 1.5em;
    color: #792013;
    background-color: #ff9090;
}

.icon-dialog{
  color: #792013;
  margin-right: 1em;
}

.alert-container{
  margin: 0 .4em .4em .4em;
}

#email, #password{
  border-bottom: 1px #CFD8DC solid;
  height: 5vh;
}

button{
  margin-bottom: 2vh;
}
#email:focus{
 border-bottom: 1px #009688 solid;
 margin-top: 1em;
}

.material-icons{
  color: #009688;
}

input.ng-valid{
  background: #CEFFEE;
  margin-top: 1vh;
  height: 4vh;
}

input.ng-invalid.ng-dirty{
  background: #FFD7C5;
  margin-top: 1vh;
  height: 4vh;
}

.log-link{
  color:#CFD8DC;
  font-size: 150%;
}

.log-link::before {
    content: "Entrar";
}

.log-link:hover{
  cursor: pointer;
}

.log-link1{
  color:#CFD8DC;
  font-size: 150%;
}

.log-link1::before {
    content: "Salir";
}

.log-link1:hover{
  cursor: pointer;
}

.log-content:hover{
  color:#fff;
}

.log-icon{
  color:#CFD8DC;
  margin-left: .5em;
}

.log-icon:hover{
  cursor:pointer;
}

.text-card{
  padding-bottom: 2em;
}
