.help{
  color: #888;
  margin:0;
  font-size: 70%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


.micontainer{
  margin: 0 3vw;
}

.icon-link{
  color: #222;
}
.icon-link:hover{
  color:#ddb219;
}

.pointer{
  cursor: pointer;
}

.no-mb{
  margin:0;
}
.dark-primary-color    { background: #455A64; }
.default-primary-color { background: #607D8B; }
.light-primary-color   { background: #CFD8DC; }
.light-primary-text-color   { color: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #009688; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
