

<div class="row">
<div *ngFor="let duda of _ds.dudas | async" class="col s12">
<form  [formGroup]="formRDuda" (ngSubmit)="responderDuda()" >
    <h5>{{duda.duda}}</h5><small>Escrito por{{duda.email}}</small>
    <div class="row">
      <div class="input-field col s12 m9">
        <i class="material-icons prefix">mode_edit</i>
        <textarea  class="materialize-textarea" formControlName="respuesta"></textarea>
        <label for="respuesta">Responde a la pregunta</label>
        <input  type="text" formControlName="key" value={{duda.$key}}>
      </div>
      <div class="col s12 m3">
        <button
          class="waves-effect waves-light btn">
            <i class="material-icons right">send</i>Ok
        </button>
      </div>
    </div>
</form>

</div>
</div>
